@import '../styles/index.scss';

.tile {
	max-height: 20em;
	margin-bottom: 1rem;
	padding: 1rem;
	overflow: scroll;
	overflow-x: hidden;
	color: $gray-800;
}

.list-group-header {
	height: 2.5em;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.tile__header {
	@extend .h6;
	padding-left: 1.25rem;
	color: $gray-900;
	display: inline-block;
	vertical-align: middle;
}

.btn.tile__btn {
	width: 15%;
	height: 1.6em;
	padding: 2px 0 0;
	box-sizing: border-box;
	display: inline-block;
	align-self: center;

}

.item__transition-enter {
	opacity: 0.01;
 }
 
 .item__transition-enter.item__transition-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
 }
 
 .item__transition-leave {
	opacity: 1;
 }
 
 .item__transition-leave.item__transition-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-out;
 }